.learn {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  background-color: #040423;
}

.learn h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: #ffffff; /* Improved color for better readability */
}

.lesson-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.lesson-card {
  background-color: #040423;
  border-radius: 8px;
  padding: 1.5rem;
  text-align: center;
  transition: box-shadow 0.3s ease; /* Added transition for hover effect */
}

.lesson-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Added hover effect */
}

.lesson-card h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #ffffff; /* Changed color for headings */
}

.lesson-card p {
  color: #ffffff;
  margin-bottom: 1rem;
}

.lesson-card button {
  background-color: #040423;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Added transition for button */
}

.lesson-card button:hover {
  background-color: #040423; /* Darker shade on hover */
}